<div class="content-body">
    <div class="logo">
        <img src="https://resources.isoftforge.com/imgs/logo-normal.png">
    </div>
    <hr />
    <h5>POC OCR - Get text in PDF or Image (.JPG, .PNG)</h5>
    <hr />
    <h5>Foto</h5>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-four-fifths">
                    <video autoplay id="video" controls autoplay loop muted playsinline></video>
                    <button class="button is-hidden" id="btnPlay" style="display: none;">
                        <span class="icon is-small">
                            <i class="fas fa-play"></i>
                        </span>
                    </button>
                    <button class="button" id="btnPause" style="display: none;">
                        <span class="icon is-small">
                            <i class="fas fa-pause"></i>
                        </span>
                    </button>
                    <button class="button is-success btn-3" id="btnScreenshot" style="width: 100%;">
                        <span class="icon is-small">
                            <i class="fas fa-camera" style="color: #fff"></i>
                        </span>
                    </button>
                    <button class="button" id="btnChangeCamera" style="display: none; width: 100%;">
                        <span class="icon">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                        <span>Switch camera</span>
                    </button>
                </div>
                <div class="column">
                    <h2 class="title">Screenshots</h2>
                    <div id="screenshots"></div>
                </div>
            </div>
        </div>
    </section>
    <canvas class="is-hidden" id="canvas"></canvas>

    <hr />
    <h5>Upload</h5>
    <form action="" id="upload" method="post" enctype="multipart/form-data">
        <div>
            <label style="font-weight: bold">Upload file</label>
            <div class="tm-input-wrap">
                <input type="file" id="tm-choose-file" name="file">
                <label for="tm-choose-file"></label>
                <span id="tm-file-name"></span>
                <button>Browse</button>
            </div>
            <div style="display: none;">
                <label style="font-weight: bold; margin-top: 20px">ChatGPT Question?</label>
                <textarea id="questionChatGPT" style="width: 100%;" placeholder="Write text...">return all parameters</textarea>
            </div>
            <hr />
            <input class="custom-btn btn-3" type="submit" value="Upload">
        </div>
    </form>

    <div class="div-result" style="display: none;">
        <label style="font-weight: bold">Result Get Text:</label>
        <div class="div-text"></div>
    </div>

</div>
